@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    background-color: #f4f3ca;
}
 h2{
     color: #476ab4;
 }
label{
    color: 	#bd3b3b	;
}